/************************/
@charset 'UTF-8';
/***********************/

/* Nexa Light */
@font-face {
  font-family: 'NexaLight';
  src: url('/assets/fonts/Nexa_Light/NexaLight.eot');
  src: url('/assets/fonts/Nexa_Light/NexaLight.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Nexa_Light/NexaLight.svg#NexaLight') format('svg'),
       url('/assets/fonts/Nexa_Light/NexaLight.ttf') format('truetype'),
       url('/assets/fonts/Nexa_Light/NexaLight.woff') format('woff'),
       url('/assets/fonts/Nexa_Light/NexaLight.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Typo Round Bold */
@font-face {
  font-family: 'TypoRoundBold';
  src: url('/assets/fonts/Typo_Round/TypoRoundBoldDemo.eot');
  src: url('/assets/fonts/Typo_Round/TypoRoundBoldDemo.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Typo_Round/TypoRoundBoldDemo.svg#TypoRoundBoldDemo') format('svg'),
       url('/assets/fonts/Typo_Round/TypoRoundBoldDemo.ttf') format('truetype'),
       url('/assets/fonts/Typo_Round/TypoRoundBoldDemo.woff') format('woff'),
       url('/assets/fonts/Typo_Round/TypoRoundBoldDemo.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Typo Round Bold Italic */
@font-face {
  font-family: 'TypoRoundBoldItalic';
  src: url('/assets/fonts/Typo_Round/TypoRound-BoldItalicDemo.eot');
  src: url('/assets/fonts/Typo_Round/TypoRound-BoldItalicDemo.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Typo_Round/TypoRound-BoldItalicDemo.svg#TypoRound-BoldItalicDemo') format('svg'),
       url('/assets/fonts/Typo_Round/TypoRound-BoldItalicDemo.ttf') format('truetype'),
       url('/assets/fonts/Typo_Round/TypoRound-BoldItalicDemo.woff') format('woff'),
       url('/assets/fonts/Typo_Round/TypoRound-BoldItalicDemo.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Typo Round Italic */
@font-face {
  font-family: 'TypoRoundItalic';
  src: url('/assets/fonts/Typo_Round/TypoRound-ItalicDemo.eot');
  src: url('/assets/fonts/Typo_Round/TypoRound-ItalicDemo.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Typo_Round/TypoRound-ItalicDemo.svg#TypoRound-ItalicDemo') format('svg'),
       url('/assets/fonts/Typo_Round/TypoRound-ItalicDemo.ttf') format('truetype'),
       url('/assets/fonts/Typo_Round/TypoRound-ItalicDemo.woff') format('woff'),
       url('/assets/fonts/Typo_Round/TypoRound-ItalicDemo.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Typo Round Light */
@font-face {
  font-family: 'TypoRoundLight';
  src: url('/assets/fonts/Typo_Round/TypoRoundLightDemo.eot');
  src: url('/assets/fonts/Typo_Round/TypoRoundLightDemo.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Typo_Round/TypoRoundLightDemo.svg#TypoRoundLightDemo') format('svg'),
       url('/assets/fonts/Typo_Round/TypoRoundLightDemo.ttf') format('truetype'),
       url('/assets/fonts/Typo_Round/TypoRoundLightDemo.woff') format('woff'),
       url('/assets/fonts/Typo_Round/TypoRoundLightDemo.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Typo Round Light Italic */
@font-face {
  font-family: 'TypoRoundLightItalic';
  src: url('/assets/fonts/Typo_Round/TypoRound-LightItalicDemo.eot');
  src: url('/assets/fonts/Typo_Round/TypoRound-LightItalicDemo.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Typo_Round/TypoRound-LightItalicDemo.svg#TypoRound-LightItalicDemo') format('svg'),
       url('/assets/fonts/Typo_Round/TypoRound-LightItalicDemo.ttf') format('truetype'),
       url('/assets/fonts/Typo_Round/TypoRound-LightItalicDemo.woff') format('woff'),
       url('/assets/fonts/Typo_Round/TypoRound-LightItalicDemo.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Typo Round Regular */
@font-face {
  font-family: 'TypoRoundRegular';
  src: url('/assets/fonts/Typo_Round/TypoRoundRegularDemo.eot');
  src: url('/assets/fonts/Typo_Round/TypoRoundRegularDemo.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Typo_Round/TypoRoundRegularDemo.svg#TypoRoundRegularDemo') format('svg'),
       url('/assets/fonts/Typo_Round/TypoRoundRegularDemo.ttf') format('truetype'),
       url('/assets/fonts/Typo_Round/TypoRoundRegularDemo.woff') format('woff'),
       url('/assets/fonts/Typo_Round/TypoRoundRegularDemo.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Typo Round Thin */
@font-face {
  font-family: 'TypoRoundThin';
  src: url('/assets/fonts/Typo_Round/TypoRoundThinDemo.eot');
  src: url('/assets/fonts/Typo_Round/TypoRoundThinDemo.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Typo_Round/TypoRoundThinDemo.svg#TypoRoundThinDemo') format('svg'),
       url('/assets/fonts/Typo_Round/TypoRoundThinDemo.ttf') format('truetype'),
       url('/assets/fonts/Typo_Round/TypoRoundThinDemo.woff') format('woff'),
       url('/assets/fonts/Typo_Round/TypoRoundThinDemo.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Typo Round Thin Italic */
@font-face {
  font-family: 'TypoRoundThinItalic';
  src: url('/assets/fonts/Typo_Round/TypoRound-ThinItalicDemo.eot');
  src: url('/assets/fonts/Typo_Round/TypoRound-ThinItalicDemo.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Typo_Round/TypoRound-ThinItalicDemo.svg#TypoRound-ThinItalicDemo') format('svg'),
       url('/assets/fonts/Typo_Round/TypoRound-ThinItalicDemo.ttf') format('truetype'),
       url('/assets/fonts/Typo_Round/TypoRound-ThinItalicDemo.woff') format('woff'),
       url('/assets/fonts/Typo_Round/TypoRound-ThinItalicDemo.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Hallo Sans */
@font-face {
  font-family: 'HalloSans';
  src: url('/assets/fonts/Hallo_Sans/HalloSans.eot');
  src: url('/assets/fonts/Hallo_Sans/HalloSans.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Hallo_Sans/HalloSans.svg#HalloSans') format('svg'),
       url('/assets/fonts/Hallo_Sans/HalloSans.ttf') format('truetype'),
       url('/assets/fonts/Hallo_Sans/HalloSans.woff') format('woff'),
       url('/assets/fonts/Hallo_Sans/HalloSans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Hallo Sans Black */
@font-face {
  font-family: 'HallosansBlack';
  src: url('/assets/fonts/Hallo_Sans/Hallosans-Black.eot');
  src: url('/assets/fonts/Hallo_Sans/Hallosans-Black.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Hallo_Sans/Hallosans-Black.svg#Hallosans-Black') format('svg'),
       url('/assets/fonts/Hallo_Sans/Hallosans-Black.ttf') format('truetype'),
       url('/assets/fonts/Hallo_Sans/Hallosans-Black.woff') format('woff'),
       url('/assets/fonts/Hallo_Sans/Hallosans-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Hallo Sans Light */
@font-face {
  font-family: 'HallosansLight';
  src: url('/assets/fonts/Hallo_Sans/Hallosans-Light.eot');
  src: url('/assets/fonts/Hallo_Sans/Hallosans-Light.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Hallo_Sans/Hallosans-Light.svg#Hallosans-Light') format('svg'),
       url('/assets/fonts/Hallo_Sans/Hallosans-Light.ttf') format('truetype'),
       url('/assets/fonts/Hallo_Sans/Hallosans-Light.woff') format('woff'),
       url('/assets/fonts/Hallo_Sans/Hallosans-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}