* {
  	font-family: 'NexaLight', sans-serif;
	touch-action: none;
}
.nexas {
	font-family: 'NexaLight', sans-serif !important;
}
.typo {
	font-family: 'TypoRoundLight', sans-serif !important;
}
.mg-auto {
	margin: 0 auto;
	display: table;
}
.pdg-bottom15 {
	padding-bottom: 15px;
}
.bold {
	font-weight: bold;
}
#home {
    background-position: 50% -20px !important;
}
#home h3 {
	background-color: #4b898c !important;
  	font-weight: lighter;
}
#home h1 {
	background-color: #9d71ae !important;
  	font-weight: lighter;
}
#home a {
	background-color: #9d71ae !important;
	color: #fff;
	font-size: 16px;
	padding: 15px;
}
#home a:hover {
	color: #9d71ae !important;
	background-color: #fff !important;
	border: 1px solid #9d71ae !important;
	transition: 200ms ease-in;
}
/* MENU */
.menuzord-menu li a {
	font-family: 'NexaLight', sans-serif !important;
    font-weight: lighter !important;
    font-size: 16px !important;
}

/* ABOUT */
.bg-about {
	background-color: #4b898c !important;
}

.btn-about {
	font-size: 16px !important;
}

/* SERVICES */
.services h2 {
	font-family: 'TypoRoundLight';
    font-size: 38px;
    color: #4e4d4d !important;
}
.services p {
	font-family: 'NexaLight';
	color: #777777;
	font-size: 17px !important;
}

/* ESPECILIDADES */
.especialidades h2 {
	font-family: 'TypoRoundLight';
    font-size: 38px;
    color: #4e4d4d !important;
}

.especialidades p {
	font-family: 'NexaLight';
	color: #777777;
	font-size: 16px !important;
}
.thumb {
	overflow: hidden;
}
.thumb-otorrinolaringologia {
	background: url('/assets/img/img1.jpg') no-repeat;
	background-size: cover;
	width: 100%;
	height: 523px;
	background-position: center;
}
.thumb-fonoaudiologicos {
	background: url('/assets/img/img2.png') no-repeat;
	background-size: cover;
	width: 100%;
	height: 523px;
	background-position: 90% 10%;
}
.thumb-psicologia {
	background: url('/assets/img/img3.jpg') no-repeat;
	background-size: cover;
	width: 100%;
	height: 523px;
	background-position: center;
}
.btn-services {
	background-color: #6dbfb1 !important;
	color: #fff !important;
}

/* CLINICA */
.bg-clinica-home {
	 background-color: #4b898c;
}

.list-clinica p {
    padding-left: 65px;
    color: #808080;
    padding-top: 15px;
    padding-bottom: 15px;
}
.list-clinica span {
	margin-left: 30px;
	color: #333333;
	font-size: 18px;
	font-family: 'TypoRoundLight', sans-serif; 
	font-weight: bold;
}
.list-clinica img {
	float: left;
}
.list-link {
	color: #808080 !important;
	text-decoration: none !important;
}

.btn-clinica-home {
	background-color: #b68ec0 !important;
	color: #fff !important;
}
.doutores h4 {
	font-family: 'TypoRoundLight', sans-serif;
	font-size: 19px;
}
.doutores h6 {
	font-size: 14px;
    padding-top: 10px;
}
.doutores span {
	font-family: 'Arial', sans-serif !important;
}
.linka {
	background-color: #9d71ae !important;
	color: #fff !important;
	transition: 500ms ease-in;
	font-size: 16px !important;
}
.linka:hover {
	background-color: #6dbfb1 !important;
	transition: 500ms ease-in;
}
.bg-icon-doutores a {
	background-color: #9d71ae;
}

.testimonial.style1 .comment {
	background-color: rgba(55, 94, 95, 0.6) !important;
}
.depoimentos-box {
	background-repeat: no-repeat;
    background-size: cover;
    width: 75px;
    height: 75px;
    background-position-x: center;
}
.logo-interna {
	display: none;
}
/* RODAPE */
.footer-box-one > div {
	background: #b48cbe !important;
} 
.footer-box-two > div {
	background: #9b71ac !important;
}
.footer-box-three > div {
	background: #b48cbe !important;
}
.post-thumb img {
	width: 80px;
	height: 55px;
}

/* A CLINICA */
.img-doutores {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position-x: center !important;
    width: 100%;
    height: 271px;
}

@media screen and (max-width: 992px) {
	#home {
    	background-position: 50% 0px !important;
	}
	.menuzord-menu > li > a {
		color: #9d71ae;
	}
}

.maxwidth400 {
	overflow: hidden;
    width: 515px;
}

@media screen and (max-width: 1024px) {
	.maxwidth400 {
    	width: 450px;
	}
}
.pt-200 {
	padding-top: 200px !important;
}